/*import font used*/

@import url('https://fonts.googleapis.com/css2?family=Nanum+Gothic&display=swap');

/* Global styles */
body{
  Background-color:#F7F2E0;
  font-family: 'Nanum Gothic', sans-serif;
}

/*nav styles */
.nav-link:hover{
    color: #F5DA81;
    }

/*media queries*/
@media screen and (max-width:411px){
    .d-block{
    margin-bottom:30px;
    }
    }